<h3 style="text-align:center;">Test Cases for <%#= @test_suite.name %></h3>
<table id="sch-cases" style="width:100%">
	<thead>
		<tr>
  			<th>Scheduler id</th>
  			<th>Status</th>
  			<th>Created Date</th>
  			<th>Updated Date</th>
  			<th>Screenshot File Location</th>
		</tr>
	</thead>
	<tbody>
	  <% @result_cases.each do |rc| %>
		<tr>
  			<td><%= rc.scheduler_id %></td>
        <% if rc.rd_id == 1%>
          <td>Completed</td>
        <% else %>
          <td>Failed</td>
        <% end -%>
        <td><%= rc.created_at %></td>
  			<td><%= rc.updated_at %></td>
  			<td><%= rc.screenshot_file_location %></td>
		</tr>
	  <% end %>
	</tbody> 
</table>
<script>
  $("#sch-cases").dataTable();
</script>

<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#sch-cases tr:nth-child(even) {
  background-color: #eee;
}
table#sch-cases tr:nth-child(odd) {
 background-color: #fff;
}
table#sch-cases th {
  background-color: black;
  color: white;
}

