<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @results_dictionary.description %>
</p>

<%= link_to 'Edit', edit_results_dictionary_path(@results_dictionary) %> |
<%= link_to 'Back', results_dictionaries_path %>
