// Place all the styles related to the environments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#envir_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#envir_table td, #envir_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#envir_table tr:nth-child(even){background-color: #f2f2f2;}

#envir_table tr:hover {background-color: #ddd;}

#envir_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table, th, td {
  border: 1px solid #ddd;
  padding: 8px;;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#sch-cases tr:nth-child(even) {
  background-color: #f2f2f2;
}
table#sch-cases tr:nth-child(odd) {
 background-color: #fff;
}
table#sch-cases th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

table#suite-table-dude tr:nth-child(even) {
  background-color: #f2f2f2;
}
table#suite-table-dude tr:nth-child(odd) {
 background-color: #fff;
}
table#suite-table-dude th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

table#test-cases tr:nth-child(even) {
  background-color: #f2f2f2;
}
table#test-cases tr:nth-child(odd) {
 background-color: #fff;
}
table#test-cases th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


.user_profile {
  margin-left: 80%;
  font-size: 15px;
  color: black;
  font-family:verdana;
}