// Place all the styles related to the test_cases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  #leftbox { 
    float:left;  
    width:25%;  
  } 
  #middlebox{ 
    float:left; 
    width:25%;  
  } 
  #rightbox{ 
    float:right;  
    width:25%;  
  } 
  #endbox{ 
    float:right;  
    width:25%;  
  } 

  #centerbox{ 
    float:left;
    margin-left: 30%;  
    width:70%;  
  } 

  #loginbox{ 
    float:left;
    margin-left: 30%;  
    width:40%;  
    background-color: lightgrey;
    border: 5px solid green;
    padding: 20px;
  }

  #custombox{ 
    float:left;
    margin-left: 30%;  
    width:40%;  
    background-color: lightgrey;
    border: 5px solid black;
    padding: 20px;
  }  

  label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
  }

  input, label {
    float:left;
  }

  h3 {
    font-size: 15px;
    margin-left: 30%;
  }

  #submit{
    display: inline;
  }
