// Place all the styles related to the test_cases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  #leftbox { 
    float:left;  
    width:25%;  
  } 
  #middlebox{ 
    float:left; 
    width:25%;  
  } 
  #rightbox{ 
    float:right;  
    width:25%;  
  } 
  #endbox{ 
    float:right;  
    width:25%;  
  } 

  #centerbox{ 
    float:left;
    margin-left: 30%;  
    width:70%;  
  } 

  #loginbox{ 
    float:left;
    background-color: lightgrey;
    border: 5px solid green;
    padding: 20px;
  }


  .container{
    width: 473px;
  }

  fieldset {
      border: 1px groove #ddd !important;
      padding: 0 1.4em 1.4em 1.4em !important;
      margin: 0 0 1.5em 0 !important;
      -webkit-box-shadow:  0px 0px 0px 0px #000;
      box-shadow:  0px 0px 0px 0px #000;
  }


  legend {
      width:inherit;
      padding:0 6px; 
      border-bottom:none;
      font-size: 11px;
  }

  #custombox{ 
    float:left;
    margin-left: 30%;  
    width:40%;  
    background-color: lightgrey;
    border: 5px solid black;
    padding: 20px;
  }  

  label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;

  }

  input, label {
    float:left;
    font-size:10px;
  }

  h3 {
    font-size: 15px;
    margin-left: 30%;
  }

  #submit{
    display: inline;
  }

  #add_params{
    margin-left: 10%;
  }