<% if user_signed_in? %>
  <div class="row" id="header-holder">
<% else %>
  <div class="row" id="sign-in-header">
<% end %>
	<div><a href="/"><img id="logo" src="/assets/HealthixLogo_FINAL_web_3.png"></a></div>
  </div>

