<div class="container-fluid" id="internal-navbar">
	<div>
		<a href="/" class="user_profile"><%= current_user.email %></a>
	</div>
	<div id="navbar">
		<a href="/home" class="col-md-2 col-sm-1 col-xs-2 nav-button">Home</a>
		<a href="/test_suites" class="col-md-2 col-sm-1 col-xs-2 nav-button">Suites</a>
		<a href="/test_cases" class="col-md-2 col-sm-1 col-xs-2 nav-button">Cases</a>
		<a href = "/reports" class="col-md-2 col-sm-1 col-xs-2 nav-button">Reports</a>
		<a href="/logout" class="col-md-2 col-sm-1 col-xs-2 nav-button">Logout</a>
	</div>
	
</div>
